body {
    background-color: #0f172a;
    color: #e2e8f0;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}
main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
/*Foto*/
.perfil {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #38bdf8;
    margin-top: 20px;
}
/*Título*/
header h1{
    margin-top: 40px;
    font-size: 60px;
}
/*Hr*/
hr{
    border: none;
    height: 2px;
    background-color: rgb(207, 205, 205);
}
/*Links*/
nav a {
    color: #38bdf8;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}
/*Efeito mudar cor do Link*/
a:hover {
    color: burlywood;
}
/*Texto da Descrição*/
.apresentacao{
    width: 60%;
    margin: 30px auto;
    font-size: 18px;
    line-height: 1.6;
}
.card {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}